body {
  margin: 80px auto;
  padding: 0 20px 0 20px;
  width: 580px;
  font-family: source-han-serif-tc, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.header a {
  text-decoration: underline;
  text-decoration-style: dashed;
}

a {
  color: black;
}

footer {
  font-size: 20px;
  color: gray;
}

.logo {
  text-align: center;
  margin-bottom: 60px;
}

.logo img {
  width: 48px;
  height: auto;
}

.tategaki {
  height: 300px;
  width: 450px;
  padding: 27px;
  overflow: auto;
}

.tategaki img {
  max-height: 300px;
}

.rose:hover {
  color: mistyrose;
}

.kusai:hover {
  color: darkgoldenrod;
}

@media screen and (max-width: 580px) {
  body {
    width: auto;
  }

  .tategaki {
    width: 90%;
  }
}
