body {
  width: 32rem;
  margin: 5rem auto;
  padding: 0 1rem 0 1rem;
  font: 1.5rem "Hiragino Mincho Pro", "新宋体", serif;
  letter-spacing: 0.2rem;
}

a {
  color: black;
}

.dash a {
  text-decoration: underline;
  text-decoration-style: dashed;
}

footer {
  font-size: 80%;
  color: gray;
}

header {
  text-align: center;
}

header img {
  width: 3rem;
  height: auto;
}

article {
  margin-top: 2rem;
}

h2 {
  margin-right: 0;
}

section,
footer {
  width: 100%;
}

section {
  height: min(20.4rem, 80vh);
  padding: 3rem 0 3rem 0;
  overflow: auto;
}

section img {
  height: min(20.4rem, 80vh);
  width: auto;
}

footer {
  min-height: 10rem;
  padding-top: 3rem;
}

.white {
  margin-right: 3.5rem;
}

.rose:hover {
  color: mistyrose;
}

.kusai:hover {
  color: darkgoldenrod;
}

@media screen and (max-width: 40rem) {
  body {
    width: auto;
  }

  h2 {
    margin-right: 1.5rem;
  }
}