body {
  margin: 70px auto;
  padding: 0 20px 0 20px;
  width: 580px;
  font-size: 24px;
}

.header a {
  text-decoration: underline;
  text-decoration-style: dashed;
}

a {
  color: black;
}

footer {
  font-size: 20px;
  color: gray;
}

.logo {
  text-align: center;
  margin-bottom: 60px;
}

.logo img {
  width: 48px;
  height: auto;
}

.rose:hover {
  color: mistyrose;
}

.kusai:hover {
  color: darkgoldenrod;
}

@media screen and (max-width: 580px) {
  body {
    width: auto;
    word-wrap: break-word;
  }

  article img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
